<div id="collra_result">
  {{#each this}}
  	<img src="{{item.img}}">
  	<h2>[{{id}}]{{item.title}}</h2>
  	<div>{{item.description}}</div>
  	<ul>
  		<li>{{statistic.views}}</li>
  		<li>{{statistic.likes}}</li>
  	</ul>
  {{/each}}
</div>